# Archivos de compilación de Flutter y Dart
/build/
/.dart_tool/
/.flutter-plugins
/.flutter-plugins-dependencies
/.packages
/.pub-cache/
/.pub/

# Archivos específicos de Android
/android/local.properties
/android/key.properties
/android/**/*.keystore
/android/**/*.jks
/android/.gradle/
/android/app/local.properties
/android/app/GeneratedPluginRegistrant.java

# Gradle y capturas
.gradle/
build/
captures/
.cxx/

# Archivos de configuración de editores
.idea/
.vscode/
*.iml
*.ipr
*.iws

# Otros
.DS_Store